@import "tailwindcss";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";

@plugin "daisyui" {
  themes: dark --default;
}

@theme {
  --background-image-home: url("/bg.svg");
  --breakpoint-ml: 875px;
}

@utility bg-home-xl {
  background-size: 50%;
}
